<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Frutas</title>
</head>

<body>
    {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
            {% for msj in mensajes %}
                <h3> {{ msj }} </h3>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <br>
    <br>
    <center><h1> Gestion de Frutas </h1></center>
    <br>

    <center>
    <form action="/guardar" method="POST"> 

        <input type="text" name="txtFruta" placeholder="Escribe Fruta">
        <input type="text" name="txtTemporada" placeholder="Escribe Temporada">
        <input type="number" name="txtPrecio" placeholder="Escribe Precio">
        <input type="number" name="txtStock" placeholder="Escribe Stock">

        <button type="submit"> Guardar </button>

    </form>
    </center>
    
    <center>
    <br>
    <br>
    <h1> Frutas Guardados </h1>
    <br>
    <table>
        <thead>
            <tr>
                <td> Id: </td>
                <td> Fruta: </td>
                <td> Temporada: </td>
                <td> Precio: </td>
                <td> Stock: </td>
            </tr>
        </thead>
        <tbody>
            {% for alb in listFrutas %}
               <tr>
                <td>{{ fruta.0 }}</td>
                <td>{{ fruta.1 }}</td>
                <td>{{ fruta.2 }}</td>
                <td>{{ fruta.3 }}</td>
                <td>
                    <a href="/editar/{{ alb.0 }}"> Editar </a>
                    <a href="/eliminar/{{ alb.0 }}"> Eliminar </a>
                </td>
               </tr>
            {% endfor %}
        </tbody>
    </table>
</center>

</body>
</html>