body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
  }
  
  .button-container {
    text-align: center; /* Centra los botones */
  }
  
  button {
    display: inline-block; /* Alinea los botones en línea */
    width: 20%;
    margin-bottom: 8px;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    align-items: center;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
  }
  
  button[type="button"] {
    background-color: #ccc;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:active {
    background-color: #3e8e41;
  }
  
  button:focus {
    outline: none;
  }
  