{% extends 'plantilla.html'%}

{% block body %}

<h1 class="display-1 text-center mt-4 mb-4 text-danger"> Eliminar Album </h1>

<h2 class="text-center mt-5 mb-5"> ¿Estás seguro que quieres eliminar? </h2>

<div class="container">
        <div class="row justify-content-center">
                <div class="col-md-5">
                        <div class="card card-body">
                                <form action="/borrar/{{ album.0 }}" method="POST">
                                        <div class="text-center mt-3 mb-3">
                                                <input type="text" class="form-control" name="txtTitulo" value="{{ album.1 }}">
                                        </div>
                                        <div class="text-center mt-3 mb-3">
                                                <input type="text" class="form-control" name="txtArtista" value="{{ album.2 }}">
                                        </div>
                                        <div class="text-center mt-3 mb-3">
                                                <input type="number" class="form-control" name="txtAnio" value="{{ album.3 }}">
                                        </div>
                                        <div class="d-grid gap-1 col-2 mx-auto">
                                                <button type="submit" class="form-control" class="btn btn-outline-success"> Borrar </button>
                                        </div> <!-- button -->
                                </form>
                        </div> <!-- card -->
                </div> <!-- column5 -->
        </div> <!-- row -->
</div> <!-- container -->

{% endblock %}