{% extends 'plantilla.html'%}

{% block body %}


        <h1> Eliminar Album </h1>

        <h2> ¿Estás seguro que quieres eliminar? </h2>
        <form action="/borrar/{{ album.0 }}" method="POST">
        
                <input type="text" name="txtTitulo" value="{{ album.1 }}" >
                <input type="text" name="txtArtista" value="{{ album.2 }}" >
                <input type="number" name="txtAnio" value="{{ album.3 }}" >
        
                <button type="submit"> Borrar </button>
        
        </form>
{% endblock %}